itp_week_2/day_2/Wk2Dy2PracSol.py
itp_week_2/day_3/exercise.py
itp_week_2/day_3/lecture.py
itp_week_2/day_3/practice.py
itp_week_2/day_3/README.md
itp_week_2/day_4/exercise.py
itp_week_2/day_4/lecture.py
itp_week_2/day_4/practice.py
itp_week_2/day_4/README.md